name: Build & Release
on:
    workflow_dispatch: # Allows manual trigger from the Actions tab
    push:
        branches: [main]
        paths:
            - "lib/**" # Build only if code changes
            - "pubspec.yaml" # Build if dependencies change
            - "assets/**" # Build if images/icons change

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            - name: Setup Java
              uses: actions/setup-java@v3
              with:
                  distribution: "zulu"
                  java-version: "17"

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: "stable"

            - name: Build APK
              run: flutter build apk --release --build-number=${{ github.run_number }}

            - name: Create Release
              id: create_release
              uses: softprops/action-gh-release@v1
              with:
                  tag_name: v${{ github.run_number }}
                  name: LiteOps v${{ github.run_number }}
                  files: build/app/outputs/flutter-apk/app-release.apk
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Update Version JSON
              run: |
                  mkdir -p public

                  # We create a JSON with BOTH the landing page and the direct file link
                  cat <<EOF > public/version.json
                  {
                    "version": "${{ github.run_number }}",
                    "url": "https://liteops.vercel.app",
                    "direct_url": "https://github.com/${{ github.repository }}/releases/download/v${{ github.run_number }}/app-release.apk"
                  }
                  EOF

                  git config --global user.name "github-actions"
                  git config --global user.email "action@github.com"
                  git add public/version.json

                  # Only commit and push if there is a change to avoid errors
                  git diff --quiet && git diff --staged --quiet || (git commit -m "Update version to ${{ github.run_number }} [skip ci]" && git push)
